@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Sinhala:wght@100..900&display=swap');
body {
    position: relative;
    background-color: black;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

.main{
    margin: 0 10px;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
    background-color: rgba(0, 0, 0, 0.5);
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.629);
    border-radius: 10px;
    margin-top: 5px;
    position: relative;
}

nav img{
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(0, 140, 255);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.contact_btn{
    border-radius: 20px;
    background-color: rgb(0, 140, 255);
    font-family: 'Montserrat', sans-serif;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.contact_btn:hover {
    background-color: rgba(0, 140, 255, 0.8);
    box-shadow: 0 0 15px 0 rgba(0, 140, 255, 0.8);
}

.icon-cart{
    position: relative;
}

.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -10px;
}

i{
    padding: 0 10px;
}

.title{
    text-align: center;
}

.title img{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1000;
    opacity: 0.5;
    width: auto;
    overflow: hidden;
}

.title p {
    font-size: 30px;
    font-weight: 800;
    font-family: "Noto Sans Sinhala", sans-serif;
}

.description{
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

.title img{
    opacity: 0.5;
}

.listProduct .item img{
    width: 250px;
    height: 180px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ccd8d8;
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.listProduct .item{
    background-color: #0000007d;   
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    color: rgba(0,0,0,0.8);
    backdrop-filter: blur(33px);
    background-blend-mode: overlay;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
    color: white;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
    color: white;
}
.listProduct .item button{
    background-color: #000000;
    color: #eee;
    border: none;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    margin: 15px 0;
    transition: background-color 0.5s,box-shadow 0.5s;
    font-family: 'Montserrat', sans-serif;


}

.item button:hover {
    background-color: rgba(0, 140, 255, 0.8);
    box-shadow: 0 0 15px 0 rgba(0, 140, 255, 0.8);
}

.cartTab{
    width: 400px;
    box-sizing: border-box;
    backdrop-filter: blur(33px);
    background-blend-mode: overlay;
    /* background-color: #000000; */
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
    padding-left: 10px;
    border-radius: 20px;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px 0;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bolder;
}

.cartTab .close{
    background-color: #eee;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}